- semantic_form_for @relative do |f|
  -f.inputs do
    = f.input :givenname, :label => 'Given name', :hint => 'This person\'s given or first name, up to 64 characters'
    = f.input :familyname, :label => 'Family name', :hint => 'This person\'s family or last name, up to 64 characters'
    = f.input :age
    = f.input :birthdate, :start_year => 1900, :end_year => Time.zone.now.year, :as => :date
    = f.input :student, :label => 'Is this person a student?', :as => :radio, :collection => [['Yes', true],['No', false],['Not sure']]
    = f.input :occupation, :label => 'Occupation or major', :hint => 'Please indicate grade level here if this person is below college/university'
    = f.input :employer_or_school
    = f.input :photo, :as => :file, :hint => 'You can add additional photos later; a face shot is the most useful'
    = f.input :description
  -f.buttons do
    = f.submit controller.action_name == 'new' ? 'Add information' : 'Save changes'