%div.help
  Fields with a star are required.  Please fill in as much information as you know, to make it easier to confirm identities in the field.
- semantic_form_for @relative do |f|
  -f.inputs do
    = f.input :givenname, :label => 'Given name', :hint => 'This person\'s given or first name, up to 64 characters', :required => true
    = f.input :familyname, :label => 'Family name', :hint => 'This person\'s family or last name, up to 64 characters'
    = f.input :age
    = f.input :birthdate, :start_year => 1900, :end_year => Time.zone.now.year, :as => :date
    = f.input :student, :label => 'Educational Status', :hint => 'Is this person a student?', :as => :radio, :collection => [['Yes', true],['No', false],['Not sure']], :selected => @relative.student.nil? ? 'Not sure' : @relative.student?
    = f.input :occupation, :label => 'Occupation or major', :hint => 'Please indicate grade level here if this person is a student below college/university level'
    = f.input :employer_or_school
    = f.input :photo, :as => :file, :hint => 'You can add additional photos later; a face shot is the most useful'
    = f.input :description, :hint => "This is where we'll put the stuff for traits (birthmarks, scars, tattoos, piercings, etc.)"
  -f.buttons do
    = submit_button controller.action_name == 'new' ? 'Add information' : 'Save changes'
    or 
    = link_to 'Go back', relatives_url