- page_title "Missing persons"

%table
  %tr
    %th Photo
    %th Familyname
    %th Givenname
    %th Age
    %th Birthdate
    %th Student
    %th Occupation
    %th Employer or school
  - for relative in @relatives
    %tr
      %td= image_tag relative.photo.url
      %td= h relative.familyname
      %td= h relative.givenname
      %td= h relative.age
      %td= h relative.birthdate
      %td= h relative.student
      %td= h relative.occupation
      %td= h relative.employer_or_school
      %td= link_to 'View profile', relative
      %td= link_to 'Edit profile', edit_relative_path(relative)
      %td= link_to 'Remove profile', relative, :confirm => 'Are you sure?', :method => :delete

%p= link_to "Add a missing person", new_relative_path
