- semantic_form_for @user do |f|
  - f.inputs do
    = f.input :firstname, :label => 'First name'
    = f.input :lastname, :label => 'Last name'
    = f.input :email 
    = f.input :password, :required =>
    = f.input :password_confirmation, :label => 'Confirm password'
  = f.buttons
