-if controller.action_name == 'new' || !current_user.activated?
  -content_for :user_snapshot do
    -# we don't want a user snapshot on a new user page or if they haven't completed the activation steps
  -content_for :sidebar do
    %h3 Registration steps
    %ul
      %li.current Create your account
      %li Tell us how to reach you
      %li Verify your account
      %li Tell us who you're looking for
- semantic_form_for @user do |f|
  - f.inputs do
    = f.input :firstname, :label => 'Given name', :hint => 'Your given or first name, up to 64 characters'
    = f.input :lastname, :label => 'Family name', :hint => 'Your family or last name, up to 64 characters'
    = f.input :email, :hint => 'Example: johndoe@rescuefinder.info'
    = f.input :password, :required => controller.action_name == 'new', :hint => '4 or more characters; should include letters, numbers, and symbols'
    = f.input :password_confirmation, :label => 'Confirm password', :required => controller.action_name == 'new'
  - f.buttons do
    =submit_button 'Create Your Account'
