- page_title 'Log in to your account'

- form_for @user_session do |f|
  = f.error_messages
  %dl
    %dt
      = f.label :email
    %dd
      = f.text_field :email
    %dt
      = f.label :password
    %dd
      = f.text_field :password
    %dt
      = f.submit "Submit"


